.Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  h3 {
    color:white;
  }
  
  
  
  .content {
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: #283747 ;
    opacity: 0.8;
    padding: 1rem 2rem;
    width: 50rem
  }
  
  .greeting {
      font-size: 30px;
  }